extends layout

block index
	div.index
		h1 Keyword Rank Checker

		div.input_area
			div.url_box
				p.text
					i.fa.fa-cloud URL
				input(type="text" , value="http://www.eastcl.com/ed/")

			div.keyword_box
				p.text
					i.fa.fa-key keyword
				input(type="text" , value="ED治療")

			div.bt_check
				span
					i.fa.fa-bolt check

			div.result
